@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div id="task-box">
    <h1 class="text-muted">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
