@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div id="task-box">
    <h1 class="text-muted">@ViewData["Title"]</h1>
    <p class="text-muted">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
