@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using TaskApp.Business.dto;
@model dtoProject
@{
    ViewData["Title"] = "Add New Project";
}

<div class="row" style="display:flex; justify-content: center; align-items: center">
    <div class="col-md-4">
        <form method="post">
            <h2>Add New Project.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Name" class="form-control" autocomplete="off" aria-required="true" placeholder="name" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="errors">
                @if (ViewBag.errors != null)
                {
                    @foreach (var error in ViewBag.errors)
                    {
                        <p class="alert-danger">@error.ErrorMessage</p>
                    }
                }
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Add</button>
            <a class="w-100 btn btn-outline-dark mb-2" asp-area="" asp-controller="User" asp-action="ListOfAllProjects">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
